RHOMBUS_BASE_URL=https://rhombusai.com
RHOMBUS_STORAGE_STATE=auth/rhombus.json
RHOMBUS_PROJECT_NAME=Rhombus QA Drift Exercise
RHOMBUS_S3_BUCKET=
RHOMBUS_S3_REGION=ap-southeast-2
RHOMBUS_S3_PREFIX=rhombus-qa/
RHOMBUS_GCS_BUCKET=
RHOMBUS_GCS_SERVICE_ACCOUNT_JSON_PATH=secrets/gcs-service-account.json
RHOMBUS_SCHEDULE_MINUTE=15
RHOMBUS_API_BASE_URL=
RHOMBUS_API_PROJECT_PATH=
RHOMBUS_API_SCHEDULE_PATH=
